<!DOCTYPE html>
<html lang="en">
<head>
    <meta chTitlearset="UTF-8">
    <title>Editar Evento</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
<header class="w3-container w3-center w3-padding-32">
  <h1><b>ABC EVENTOS</b></h1>
  <p>Editar Evento</p>
</header>
{% block content %}
<div class="w3-container">
<form id="formEdit" name="formEdit" method="PUT" action="" onsubmit="return sendForm();"
      enctype="multipart/form-data">
    <label hidden="true">Id: </label><input id="idEvent" name="id" type="text" value={{event.id}} hidden="true"/><br/>
    <label>Nombre: </label><input id="name" name="name" type="text" placeholder="Nombre" value={{event.name}} required maxlength="200" /><br/>
    <label>Categoria: </label><input id="category" name="category" type="text" placeholder="Categoria"
                                     value={{event.category}} required /><br/>
    <label>Lugar: </label><input id="place" name="place" type="text" placeholder="Lugar" value={{event.place}} required /><br/>
    <label>Direccion: </label><input id="address" name="address" type="text" placeholder="Direccion"
                                     value={{event.address}} required /><br/>
    <label>Fecha de Inicio: </label><input id="startDate" name="startDate" type="date"
                                           placeholder="Fecha de Inicio" required /><br/>
    <label>Fecha Fin: </label><input id="endDate" name="endDate" type="date" placeholder="Fecha Fin" required /><br/>
    <label>Es Virtual: </label><input id="virtual" name="virtual" type="checkbox" placeholder="Es Virtual"/><br/>
    <input id="send" name="send" type="submit" value="Guardar"/>
    <a href="{{ request..META.HTTP_HOST }}/eventos/">Cancelar</a>
</form>
{% endblock %}
<script>
       function sendForm() {
		$.ajax({
			url:  "/eventos/events/"+$('#idEvent').val() +"/",
			type: "PUT",
			method: "PUT",
			data: JSON.stringify({  'id': $('#idEvent').val() ,'name': $('#name').val() , 'category': $('#category').val() , 'place': $('#place').val() , 'address': $('#address').val(), 'startDate': $('#startDate').val(),'endDate': $('#endDate').val(),'virtual': $('#virtual').val()}),
			dataType: "json",
			cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    xhr.setRequestHeader("X_METHODOVERRIDE", 'PUT');
                    xhr.setRequestHeader("Accept", 'application/json');
                    xhr.setRequestHeader("contentType", 'application/json');

                },
			success: function() {
				window.location =  "http://"+window.location.host+"/eventos/";
			},
			error: function(ms) {
			console.log(ms);
				window.location =  "http://"+window.location.host+"/eventos/";
			}
		});
		return false;
	}

</script>
</div>
</body>
</html>