<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Evento</title>
</head>
<body>
<div id="evento"></div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
{% block content %}
<form method="PUT" id="formEdit" action="http://localhost:8000/eventos/events/{{event.id}}/"
      enctype="multipart/form-data">
    <label id="id" name="id" type="text" value={{event.id}} hidden="true">{{event.id}}</label><br/>
    <label>Nombre: </label><label id="name" name="name" type="text" placeholder="Nombre" value={{event.name}} >{{event.name}}</label><br/>
    <label>Categoria: </label><label id="category" name="category" type="text" placeholder="Categoria"
                                     value={{event.category}} >{{event.category}}</label><br/>
    <label>Lugar: </label><label id="place" name="place" type="text" placeholder="Lugar" value={{event.place}} >{{event.place}}</label><br/>
    <label>Direccion: </label><label id="address" name="address" type="text" placeholder="Direccion"
                                     value={{event.address}} >{{event.address}}</label><br/>
        <label>Fecha de Inicio: </label><label id="startDate" name="startDate" type="date"
                                               placeholder="Fecha de Inicio">{{event.startDate}}</label><br/>
        <label>Fecha Fin: </label><label id="endDate" name="endDate" type="date" placeholder="Fecha Fin">{{event.endDate}}</label><br/>
        <label>Es Virtual: </label><label id="virtual" name="virtual" type="checkbox" placeholder="Es Virtual">{{event.virtual}}</label> <br/>
        <a href="http://localhost:8000/eventos/">Regresar</a>
</form>

{% endblock %}

</body>
</html>