<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="w3-container w3-center w3-padding-32">
  <h1><b>ABC EVENTOS</b></h1>
  <p>Crear Evento</p>
</header>
{% block content %}
<div class="w3-container">
    <form method="post" id="formEvent" action="http://localhost:8080/eventos/events/" enctype="multipart/form-data">
        <label>Nombre: </label><input id="name" name="name" type="text" placeholder="Nombre" required/><br/>
        <label>Categoria: </label><input id="category" name="category" type="text" placeholder="Categoria"
                                         required/><br/>
        <label>Lugar: </label><input id="place" name="place" type="text" placeholder="Lugar" required/><br/>
        <label>Direccion: </label><input id="address" name="address" type="text" placeholder="Direccion" required/><br/>
        <label>Fecha de Inicio: </label><input id="startDate" name="startDate" type="date" placeholder="Fecha de Inicio"
                                               required/><br/>
        <label>Fecha Fin: </label><input id="endDate" name="endDate" type="date" placeholder="Fecha Fin"/><br/>
        <label>Es Virtual: </label><input id="virtual" name="virtual" type="checkbox" placeholder="Es Virtual"/><br/>
        <input id="send" name="send" type="submit" value="Adicionar"/>
        <a href="http://localhost:8080/eventos/">Cancelar</a>
    </form>
</div>
{% endblock %}
<script>
	$('form').submit(function(e) {
		var formData = new FormData($('#formEvent')[0]);
		$.ajax({
			url: $(this).attr('action'),
			type: $(this).attr('method'),
			data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
			cache: false,
			contentType: false,
			processData: false,
			success: function() {
				window.location = "http://localhost:8080/eventos/";
			},
		});
		e.preventDefault();
	});

</script>


</body>
</html>