<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<label id="message"></label><br /><br />

<form method="post" action="" onsubmit="return sendForm();">
	Usuario <input id="email" name="email" type="text" placeholder="Usuario" /><br />
	Contraseña <input id="password" name="password" type="password" /><br />
	<input id="send" name="send" type="submit" value="login" />
</form>
<script>
 function sendForm() {
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/eventos/login/",
                data: JSON.stringify({email: $('#email').val() , password: $('#password').val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    if(data.message == "ok")
                    {
                        window.location = "http://localhost:8000/eventos/";
                    }
                    else
                    {
                        alert(data.message);
                    }
                },
                failure: function(errMsg) {
                    alert("Se presentó un error al intentar el login");
                }
            });
            return false;
        }
    </script>


</body>
</html>